<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/title.ejs') %>
        <%- include('./partials/nav.ejs') %>

        <div class="item content">
            <h2><%- item.title %> </h2>
            <p><%- item.description %> </p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>
