<html>
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/title.ejs') %>
        <%- include('../partials/nav.ejs') %>

        <div class="home content">
            <h2>Items</h2>
            <ul id="items">
                <% items.map((item) => { %>
                    <li>
                        <a href="/items/<%-item.id%>">
                            <h3><%=item.title%></h3>
                            <p><%=item.description%></p>
                        </a>
                    </li>
                <% }) %>
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
